.chat {
    background-color: burlywood;
    width: 100%;
    padding-top: 5rem !important;
}

.sc-htoDjs{
    border: 1px solid #F40000;
    /* iqWKJA rsc-ts-image */
} 

.sc-jTzLTM{
    
}

.sc-EHOje{
    
    text-align: center;
    margin-left: -18px;
}

.sc-ifAKCX {
    background-color: rgb(40, 240, 14);
}

.sc-gZMcBi {
    margin-top: 3rem;
    border: 1px solid yellow;
}
