@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.reg_container{
  /* max-width: 700px; */
  /* width: 100%; */
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.reg_container .title{
  font-size: 20px;
  font-weight: 500;
  position: relative;
}

.registration_text {
    font-size: 25px;
  font-weight: 500;
}
.reg_container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content .information .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.information .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.information .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 .information .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 .information .category{
   display: flex;
   width: 65%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 .account {
   justify-content: left;
 }
 .information .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 .information .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three,
 #dot-4:checked ~ .category label .four,
 #dot-5:checked ~ .category label .five,
 #dot-6:checked ~ .category label .six{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 .information input[type="radio"]{
   display: none;
 }
 .information .registration_button{
   height: 45px;
   margin: 35px 0
 }

 .textarea_padding {
   padding: 0;
 }
 .information .registration_button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 .information .registration_button input:hover{
  /* trans.information: scale(0.99); */
  background: linear-gradient(-135deg, #3ba8f0, #9b59b6);
  }
  
 @media(max-width: 584px){
 .reg_container{
  max-width: 100%;
}
.information .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  .information .category{
    width: 100%;
  }
  .content .information .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }

  @media(max-width: 459px){
  .reg_container .content .category .category2{
    flex-direction: column;
  }
}

.category2{
  margin-right: 540px;
}

.type_width {
  width: 24% !important;
}

@media (max-width: 991px) {
  .information .category {
    width: 83%;
  }
}

@media (max-width: 767px) {
  .information .category {
    width: 100%;
  }
  .information .category label .dot {
    margin-right: 5px;
  }
}
